<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/about.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/teams">Teams</a>
    </nav>
    
<h1> KOBE BRYANT  </h1>

<h2> Biografía </h2>

<p> Kobe Bean Bryant fue un baloncestista estadounidense que jugaba
    en la posición de escolta. Disputó veinte temporadas en la NBA, todas ellas en Los Angeles Lakers.
    Bryant dio el salto a la NBA directamente desde el instituto Lower Merion de Filadelfia en 1996, año en el que fue seleccionado por los Charlotte 
    Hornets en el Draft, pero fue traspasado inmediatamente a los Lakers. Junto con Shaquille O'Neal, llevó a su equipo a la consecución 
    de tres títulos consecutivos de la NBA entre 2000 y 2002. Tras la salida de O'Neal en 2004, Bryant se
    convirtió en la estrella en solitario del equipo angelino y entre 2005 y 2007 logró varias plusmarcas de anotación. 
    Después de perder las Finales en 2008, llevó a los Lakers a la obtención de dos campeonatos consecutivos en 2009 y 2010. 
    Las lesiones lastraron sus últimos años de carrera y se retiró al término de la temporada 2015-16.
    Bryant ocupa el cuarto lugar en la lista de máximos anotadores de la historia de la NBA, tanto en temporada regular como en Playoffs, y los 81 puntos 
    que anotó ante los Toronto Raptors en enero de 2006 son la segunda mejor anotación de la historia de la NBA por detrás de los 100 puntos de Wilt Chamberlain 
    en 1962
    
    Falleció el 26 de enero de 2020 a los 41 años de edad en un accidente de helicóptero en la localidad californiana de Calabasas junto a otras ocho personas (incluido el piloto), y 
    entre quienes se encontraba su hija Gianna Maria de 13 años.
</p>

<h3> Palmarés </h3>

<ul>
<li>5 veces MVP de las Finales NBA</li>
<li>5 veces campeón de la NBA</li>
<li>MVP de la temporada regular (2007-2008)</li>
<li>2 veces máximo anotador</li>
<li>18 veces All-Star</li>
</ul>

</body>
</html>