<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stlye/about.css">
</head>
<body>
    
<h1> KOBE BRYANT  </h1>

<h2> Biografía </h2>

<p> Kobe Bean Bryant fue un baloncestista estadounidense que jugaba en la posición de escolta. Disputó veinte temporadas en la NBA, todas ellas en Los Angeles Lakers. Hijo del exjugador de baloncesto Joe Bryant, ​está considerado como uno de los mejores baloncestistas de todos los tiempos. </p>

<h3> Palmarés </h3>

<ul>
<li>5 veces MVP de las Finales NBA</li>
<li>5 veces campeón de la NBA</li>
<li>MVP de la temporada regular (2007-2008)</li>
<li>2 veces máximo anotador</li>
<li>18 veces All-Star</li>
</ul>

</body>
</html>