<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stlye/teams.css">
</head>
<body>
    
<h1>Equipos</h1>

<h3>5 minutos en los Charlotte Hornets</h3>
<img src="images/kobe-charlotte.jpeg" width="500">

<h3>20 temporadas en los Lakers</h3>
<img src="images/kobe-lakers.jpg" width="500">

<h3>2 participaciones olímpicas con el Team USA</h3>
<img src="images/kobe-usa.jpg" width="500">

</body>
</html>